<!-- HEADER WITH A BUTTON TO CREATE A NEW ARTICLE -->
<div class="page-header">
    <h1>
        Articles
        <a href="/users/:user_id/create" class="btn btn-default">
            <span class="glyphicon glyphicon-plus"></span>
            New Article
        </a>
    </h1>

</div>

<!-- LOADING MESSAGE -->
<div class="jumbotron text-center" ng-show="article.processing">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading Articles...</p>
</div>

<table class="table table-bordered table-striped" ng-show="article.articles">
    <thead>
    <tr>
        <th>Author</th>
        <th>Content</th>
    </tr>
    </thead>
    <tbody>

    <!-- LOOP OVER THE USERS -->
    <tr ng-repeat="article in article.articles">
        <td>{{ article.author }}</td>
        <td>{{ article.content }}</td>
    </tr>
    </tbody>
</table>